# Bootstrap
app/bootstrap*

# Symfony directories
Resources/public/js/vendor/jquery.ui.widget.js
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
composer.lock